<Location /server-status>
  SetHandler server-status
  Order deny,allow
  Satisfy all
  AuthType basic
  AuthName "Apache Server Status"
  AuthBasicProvider file
  AuthUserFile /etc/apache2/conf/apachepasswd
  Require valid-user
</Location>
